{% block body %}
    <h1>L'expédition perdue de John Franklin</h1>

    <h2>De Bois et de glace</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/7rwwCEAhr8M"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}

