@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond/CormorantGaramond-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf");
  font-weight: 600;
}

/*Font inutilisée
@font-face {
  font-family: CormorantGaramond;
  src: url("../fonts/CormorantGaramond/CormorantGaramond-Regular.ttf");
  font-weight: normal;
}
 */