//Colors

$darkRed : #960c0c;
$darkGrey : #535353;
$darkInk: #37435a;
$darkPurple : #463a8e;

//dimensions

$desktopMenuheight : 7.5em;

//Durations

$menuDuration : .7s;

$standardTransition : .5s ease-in-out;