//Colors

$darkRed : #960C0C;
$darkGrey : #535353;
$darkInk: #37435a;
$darkPurple : #463A8E;

//dimensions

$desktopMenuheight : 7.5em;

//Durations

$menuDuration : .7s;

$standardTransition : .5s ease-in-out;